/*
    Author: Khoo Lay Bin
    Date: 2026-1-27
    Description: Student home page attendance btn section style
*/

.attendance-section {
    display: flex;
    width: 100%;
}

.attendance-btn-container {
    display: flex;
    width: 100%;
    border-radius: 24px;
    padding: 20px 24px;
    margin: 40px 20px 18px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.attendance-btn-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.attendance-btn-container img {
    width: 35px;
    height: 35px;
    margin-right: 16px;
    filter: brightness(0) invert(1);
    opacity: 0.8;
}

.attendance-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.attendance-title {
    font-size: 18px;
    font-weight: 700;
    color: white;
    gap: 8px;
}

.attendance-subtitle {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}